body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  background-color: white;
  height: 100%;

  margin: 0 auto;
  padding: 0 auto;
}

h1 {
  text-align: center;
  color: aliceblue;
}

.container {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  max-width: 18rem;
  height: 18rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.3rem;
}
